html {
	font-family: Sans-Serif;
}

body{
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
	background-image: url("bgcolor.png");
	font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.3999996185303px;
	
}

.postcontent {
	border: 3px solid black;
	padding: 5px;
}

.portfoliocontent {
	
	font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	border: 3px solid black;
	padding-top: 0px;
	padding-left: 5px;
	padding-right: 5px;
}

.commentcontent {
	border: 1px dotted gray;
	padding: 2px;
	font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
}

.navbar-inverse {
	height: 100px;
	background-image: url("bgcolor.png");
	text-align: center;
	color: #FFFFFF;
	border-bottom: 1px solid #000000;
}

.navbar-header{
	width: 100%;
	font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.3999996185303px;
	text-align: center;
}

.navbar{
	width: 100%;
	font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.3999996185303px;
	text-align: center;
    > li {
      float: none;
      display: inline-block;
    }
}

.navbar-brand {
	width: 100%;
	font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
	font-size: 48px;
	background-image: url("bgcolor.png");
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.3999996185303px;
	text-align: center;
	color: #000000 !important;
	border-bottom: 1px solid #000000;
}

.h1, .h2, .h3, h1, h2, h3 {
    font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.3999996185303px;
}

.table {
	font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.3999996185303px;
}

.table-bordered {
	font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.3999996185303px;
}

th .asc {
  background-image: url(/images/up_arrow.png);
}

th .desc {
  background-image: url(/images/down_arrow.png);
}

tr {
	font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
}

td {
	font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
}

a {
	font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.3999996185303px;
	color: #000000 !important;
	text-align: center;
}

a:hover {
	background-color: transparent !important;
    color: #1C5AEA !important;
}

.label {
	font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.3999996185303px;
}